
  .products {
    .middle-item {
      .card-footer {
        .discount {
          border: 1px solid #000;
          display: flex;
          align-items: center;
          border-radius: 20px;
          text-align: center;
          font-size: 9px;
        }
      }
    }
  }

