// FILTERS
.filters {
    .h3, h3 {
      font-size: 1.2rem;
      background: #333;
      padding: .5rem;
      color: #fff;
      text-align: center;
  }
  &.behclick-panel  {
    .list-group {
      margin-bottom: 0px;
      }
      .panel-heading {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom: 1px solid darkslategrey;
        a{
          font-size: 16px;
          color: #333;
        }
      }
  }
  }