<!-- Footer -->
<footer class="page-footer font-small">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-2 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Nombre Tienda</h5>
              <ul class="sm-icons d-flex">
                  <li>
                      <a href="#">
                            <i class="fab fa-facebook-square"></i>
                      </a>
                  </li>
                  <li>
                        <a href="#">
                                <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                            <a href="#">
                                    <i class="fab fa-instagram"></i>
                            </a>
                        </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Secciones</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Politicas</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
             <!-- Grid column -->
             <div class="col-md-2 mb-md-0 mb-3">
      
                    <!-- Links -->
                    <h5 class="text-uppercase">Categorías</h5>
            
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!">Link 1</a>
                      </li>
                      <li>
                        <a href="#!">Link 2</a>
                      </li>
                      <li>
                        <a href="#!">Link 3</a>
                      </li>
                      <li>
                        <a href="#!">Link 4</a>
                      </li>
                    </ul>
            
                  </div>
                  <!-- Grid column -->
                   <!-- Grid column -->
             <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Suscribete</h5>
                    <p>Suscribete a nuestras noticias y recibe promociones y avisos de nuevos productos</p>
                   
                            <form class="form-inline my-2 my-lg-0 im-in">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Correo electrónco" aria-label="Buscar">
                                    <span>Suscribete</span>
                                  </form>
                    
                </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Derechos Reservados
          <a href="#" class="float-right"> PayPal</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->