.comments {
    padding: 1rem;
    i{
        font-size: 3rem;
        margin-right: .5rem;
    }
    .user-comment {
            align-items: center;
        p {
            margin-bottom: 0;
        }
    }
    .review {
        font-size: 15px;
        font-weight: 700;
    }
}