<!-- Content Products -->
<div class="container-fluid products ">
  <div class="row">
    <div class="col-12">
      <breadcrumb #parent>
        <ol class="breadcrumb">
          <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
            <li *ngIf="!route.terminal" class="breadcrumb-item">
              <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
            </li>
            <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
          </ng-template>
        </ol>
      </breadcrumb>
    </div>
    <div class="col-12 col-lg-2">
     <!-- Filters -->
     <app-filtros></app-filtros>
    </div>
  <!-- *  Products -->
    <div class="col-12 col-lg-10">
      <div class="row mb-3">
        <div class="col-12">
          <h2>Productos</h2>
        </div>
      </div>
          <!-- *  Product item -->
          <div class="row">
          <div class="col-12">
          <div class="list mt-3">
          <ul>
            <div class="row">
             <li *ngFor="let item of collection | paginate: config" class="col-12 col-sm-12 col-lg-3 middle-item mb-4">
           
              <div class="card">
                <div class="img-action">
                  <img src="../assets/sudadera_con-mezcla.jpg" class="card-img-top d-block w-100" alt="...">
                  <a href="">Comprar</a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ item }}</h5>
                  <p class="card-text">Texto</p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-8 price">
                      <p><span>$30.00</span> <span> - $20.00 MXN</span></p>
                    </div>
                    <div class="col-4 discount">
                      30% Desc
                    </div>
                  </div>
                </div>
              </div>
          </li>
        </div>
          </ul>
          <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
          </div>
     </div>
    </div>
    </div>
      <!-- *  Products -->
  </div>
</div>
<!-- Content Products -->

