body {
  background-color: #EDEDED;
  font-family: 'Roboto', sans-serif;
.uppercase{
  text-transform: uppercase!important;
}
.tags {
  font-size: 11px;
  .alert {
    padding: .5rem 1rem;
    border: 1px solid #999;
    border-radius: .25rem;
    &.alert-dismissible {
      padding-right: 1rem;
    } 
}
  
    .close {
      top: 9px;
      right: 3px;
      padding: 0;
      font-size: 14px;
  }
}

  .container-fluid {
    position: relative;
    margin-top: 180px;
  }

  .titles-flex {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }

  * a {
    color: #333;
    position: relative;
    // margin-left: 10px;

  }

  a:hover {
    color: #999;
  }

  .big-item {
    position: relative;

    a {
      position: relative;
      bottom: 0;
      display: block;

      .add-car {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 21px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        width: 170px;
        margin: auto;
        padding: .5rem;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 14px;
        color: #e24540;
      }
    }
  }
  .middle-item{
    .img-action{
      position: relative;
      a{
        position: absolute;
        background-color: #000;
        color: #fff;
        left: 10px;
        bottom: 20px;
        padding: .4rem;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #fff;
      }
    }
    .card-footer, .general-price{
        font-size: 11px;
        .price{
            display: flex;
            span:first-child{
                color: #ccc;
                text-decoration: line-through;
            }
            span:last-child{
                color: #000;
                
            }
            p{
                padding-bottom: 0;
                position: relative;
                top: 10px;
            }
        }
        .discount{
            border: 1px solid #000;
            display: flex;
            align-items: center;
            border-radius: 20px;
            justify-content: center;
            font-size: 9px;
        }
    }
    .general-price {
      font-size: 16px;
      .price{
        display: flex;
        span:first-child{
            font-size: 14px;
        }
        span:last-child{
            color: #000;
            font-weight: bold;
            
        }
    }
    }
  }
  .banner-section img {
    display: flex;
    margin: auto;
  }
  .my-pagination{
    margin: auto;
    display: flex;
    justify-content: center;
    .ngx-pagination {
      padding-left: 0;
  }
  }
}



// LOGIN


.my-login-page {
	background-color: #f7f9fb;
  font-size: 14px;
  .login-card{
    width: 450px;
    .brand {
      width: 90px;
      height: 90px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      margin: 40px auto;
      box-shadow: 0 0 40px rgba(0,0,0,.05);
    }
    .brand img {
      width: 100%;
    }
    .card-wrapper {
      width: 400px;
    }
    .card {
      border-color: transparent;
      box-shadow: 0 0 40px rgba(0,0,0,.05);
      .card-title {
        margin-bottom: 30px;
      }
    }
 
  .card.fat {
    padding: 10px;
  }
  .form-control {
    border-width: 2.3px;
  }
  .form-group label {
    width: 100%;
  }
  .margin-top20 {
    margin-top: 20px;
  }
  .no-margin {
    margin: 0;
  }
  .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
  }
  .btn.btn-block {
    padding: 12px 10px;
  }
}
}
// mobilile login 
@media screen and (max-width : 768px) {
  .dropdown-menu {
    position: absolute;
    transform: translate3d(10px, -81px, 0px);
    top: 0px;
    left: -160px!important;
    will-change: transform;
    width: 300px;
    font-size: 13px;
    right: 0;
  }
  .my-login-page .login-card {
    width: 300px;
}
}
