.total-car{
    font-size: 12px;
    width: 100%;
    tr {
        height: 40px;
    }
    .price {
        text-align: right;
    }
    button{
        font-size: 12px;
        text-transform: uppercase;
    }
}