<div class="container-fluid my-car ">
  <div class="row">
    <div class="col-12">
      <breadcrumb #parent>
        <ol class="breadcrumb">
          <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
            <li *ngIf="!route.terminal" class="breadcrumb-item">
              <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
            </li>
            <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
          </ng-template>
        </ol>
      </breadcrumb>
    </div>
    <div class="col-12">
      <div class="row mb-3">
        <div class="col-12 mb-3">
          <h2>Mi Carrito</h2>
        
        </div>
        <div class="col-12 col-lg-8">
          <form>
            <div class="row mb-3">
              <div class="col-12 col-lg-2">
                <img src="../../assets/hombre_classic-negro.jpg" alt="..." class="img-fluid">
            
              </div>
              <div class="col-12 col-lg-5 general-price">
                <p class="product-name">Producto</p>
                <div class="price">
                <p ><span>MXN $30.00</span> <span> - MXN $20.00 </span></p>
              </div>
                <div class="number">
                  <span class="minus">-</span>
                  <input type="text" value="1"/>
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="col-12 col-lg-5 flex-h">
                <button class="btn btn-outline-dark">Eliminar</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-lg-2">
                <img src="../../assets/hombre_classic-negro.jpg" alt="..." class="img-fluid">
            
              </div>
              <div class="col-12 col-lg-5 general-price">
                <p class="product-name">Producto</p>
                <div class="price">
                <p ><span>MXN $30.00</span> <span> - MXN $20.00 </span></p>
              </div>
                <div class="number">
                  <span class="minus">-</span>
                  <input type="text" value="1"/>
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="col-12 col-lg-5 flex-h">
                <button class="btn btn-outline-dark">Eliminar</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-lg-2">
                <img src="../../assets/hombre_classic-negro.jpg" alt="..." class="img-fluid">
            
              </div>
              <div class="col-12 col-lg-5 general-price">
                <p class="product-name">Producto</p>
                <div class="price">
                <p ><span>MXN $30.00</span> <span> - MXN $20.00 </span></p>
              </div>
                <div class="number">
                  <span class="minus">-</span>
                  <input type="text" value="1"/>
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="col-12 col-lg-5 flex-h">
                <button class="btn btn-outline-dark">Eliminar</button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-lg-2">
                <img src="../../assets/hombre_classic-negro.jpg" alt="..." class="img-fluid">
            
              </div>
              <div class="col-12 col-lg-5 general-price">
                <p class="product-name">Producto</p>
                <div class="price">
                <p ><span>MXN $30.00</span> <span> - MXN $20.00 </span></p>
              </div>
                <div class="number">
                  <span class="minus">-</span>
                  <input type="text" value="1"/>
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="col-12 col-lg-5 flex-h">
                <button class="btn btn-outline-dark">Eliminar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-3">
            <aside class="sticky-bar">
                <h5>Código de promoción</h5>
                <form>
                  <div class="form-group">
                  
                    <input type="text" class="form-control" id="cupon" placeholder="Ingresar código">
                  </div>
                  <button type="button" class="btn btn-dark">Agregar código </button>
                  <h6 class="mt-3">TOTAL</h6>
                  <table class="total-car">
                    <tbody>
                      <tr>
                        <td>Precio (4 productos)</td>
                        <td class="price">MXN 130.00</td>
                      </tr>
                      <tr>
                        <td>Envio</td>
                        <td class="price">MXN 15.00</td>
                      </tr>
                      <tr>
                        <td>Precio Total</td>
                        <td class="price"><strong>MXN 145.00</strong></td>
                      </tr>
                      <tr>
                        <td> <button type="button" class="btn btn-outline-dark">Seguir comprando </button></td>
                        <td> <button type="button" class="btn btn-dark">IR A PAGO</button></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
            </aside>
        </div>
      </div>
    </div>
  </div>
</div>
